<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Book List</h1>

    <div sec:authorize="isAuthenticated()">
        Logged in as: <span sec:authentication="principal.username"></span>
    </div>
    <div>
        <form th:action="@{/logout}" method="post" class="no-container">
            <input type="submit" value="Sign Out" class="button"/>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Category</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.publicationYear}">Publication Year</td>
                <td th:text="${book.isbn}">ISBN</td>
                <td th:text="${book.price}">Price</td>
                <td th:text="${book.category != null ? book.category.name : 'No Category'}">Category</td>
                <td sec:authorize="hasRole('ADMIN')">
                    <div>
                        <a th:href="@{/delete/{id}(id=${book.id})}" class="button delete">Delete</a>
                        <a th:href="@{/edit/{id}(id=${book.id})}" class="button">Edit</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ADMIN')" href="/addbook" class="button">Add a book</a>
</body>

</html>